<div class="card">
  <div class="card-body">
    <form>
      <h1 class="card-title">Reset password</h1>
      <div *ngIf="errorMessage!=null" class="alert alert-danger">
        {{ errorMessage }}
      </div>
      <div class="form-group">
        <input [(ngModel)]="verificationCode" [ngModelOptions]="{standalone: true}" type="text" class="form-control" aria-label="Verification code" placeholder="Verification code">
      </div>
      <div class="form-group">
        <input [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}" type="password" class="form-control" aria-label="New password" placeholder="New password">
      </div>
      <button (click)="onReset()" type="submit" class="btn btn-primary btn-block">Reset</button>
    </form>
    <hr>
    <p class="card-text text-muted"><a [routerLink]="[appPaths.forgotPassword]">Go back</a>.</p>
  </div>
</div>
