<div class="card">
  <div class="card-body">
    <form>
      <h1 class="card-title">Forgot password</h1>
      <div *ngIf="errorMessage!=null" class="alert alert-danger">
        {{ errorMessage }}
      </div>
      <div class="form-group">
        <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" class="form-control" aria-label="Email" placeholder="Email">
      </div>
      <button (click)="onNext()" type="submit" class="btn btn-primary btn-block">Next</button>
    </form>
  </div>
</div>
